header{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    border-bottom: 2px solid black;
    box-shadow: 0 0 15px black;
}

header a{
    text-decoration: none;
    position: relative;
    padding: 4px;
    top: -10px;
    width: fit-content;
    font-size: 20px;
    color: rgb(132, 0, 255);
    font-weight: bold;
    border-radius: 6px;
    border: 2px solid aquamarine;
}

header a:hover{
    background-color: aquamarine;
}

.container{
    position: relative;
    margin-top: 70px;
}

.container h1, .container h2, .container h3{
    width: fit-content;
    margin: 0 auto;
}

.container button{
    width: 100px;
    height: 35px;
}

.container input{
    width: 200px;
    height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    box-shadow: 0 0 15px gray;
}

footer h3{
    position: relative;
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
}
