@font-face 
    font-family DM Mono;
    src url("@/assets/fonts/dm-mono.ttf")

  
html
    background linear-gradient(90deg, #CC66FF, #0099FF);
    color white
    font-family DM Mono

a 
    text-decoration none